<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Roboto:wght@100;300;400;500;700&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6a08be7fa5.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
      <img class="logo" src="../image/logo-mercado-liebre.svg">
    </header>
    
    <section>
      <form action="../../form-result.php" method="post" target="_blank">

        <p>
      
          <i class="fa-light fa-magnifying-glass"></i> <input type="search" name="busqueda" placeholder="Buscar productos, marcas">
      
          <input type="submit" value="Buscar">
      
        </p>
      
      </form>
     <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de crédito</p>
      
        <p class="intro">Ofertas</p>
        <p class="intro">Tienda oficial</p>
        <p class="intro">Vender</p>
        <p class="intro">Ayuda</p>
    </br>
        <p class="intro">Crea tu cuenta <i class="fa-solid fa-id-card"></i></p>
        <p class="intro">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></p>
        <p class="intro">Compras <i class="fa-solid fa-cart-shopping"></i></p>
      
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </section>

    <section>
        <h3 class="title">Basado en tu ultima visita</h3>
        <img class="img" src="../image/img-cafetera-moulinex.jpg">
        <p class="cost">$6770</p>
        <p class="data">40% OFF</p>
        <p class="data">Cafetera Moulinex</p>
    
        <img class="img" src="../image/img-macbook-pro-2019.jpg">
        <p class="cost">$230.000</p>
        <p class="data">20% OFF</p>
        <p class="data">Macbook PRO 2019</p>
    
        <img class="img" src="../image/img-samsung-galaxy-s10.jpg">
        <p class="cost">$70.500</p>
        <p class="data">10% OFF</p>
        <p class="data">Samsung Galaxy S10</p>
    
        <img class="img" src="../image/img-tv-samsung-smart.jpg">
        <p class="cost">$23.300</p>
        <p class="data">5% OFF</p>
        <p class="data">TV Samsung de 43"</p>
    </section>
    <section>
        <h3 class="title">Ofertas </h3>
        <img class="img" src="../image/img-cafetera-moulinex.jpg">
        <p class="cost">$6770</p>
        <p class="data">40% OFF</p>
        <p class="data">Cafetera Moulinex</p>
    
        <img class="img" src="../image/img-macbook-pro-2019.jpg">
        <p class="cost">$230.000</p>
        <p class="data">20% OFF</p>
        <p class="data">Macbook PRO 2019</p>
    
        <img class="img" src="../image/img-samsung-galaxy-s10.jpg">
        <p class="cost">$70.500</p>
        <p class="data">10% OFF</p>
        <p class="data">Samsung Galaxy S10</p>
    
        <img class="img" src="../image/img-tv-samsung-smart.jpg">
        <p class="cost">$23.300</p>
        <p class="data">5% OFF</p>
        <p class="data">TV Samsung de 43"</p>
    </section>
    <footer class="foot">
       <section>
          <i class="fa-solid fa-credit-card" ></i>
          <h5 class="subfoot">Pagá con tarjeta o en efectivo</h5>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro! </p>
       </section>
       <section>
          <i class="fa-solid fa-gift"></i>
          <h5 class="subfoot">Envío gratis desde $2500</h5>
          <p>   Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.   </p>
       </section>
       <section>
        <i class="fa-solid fa-user-shield"></i>
        <h5 class="subfoot">Seguridad, de principio a fin</h5>
        <p>   ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.   </p>
     </section>
     <section>
        <h5 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        
     </section>
    </footer>
</body>
</html>